$color-principal: #00A9B1;
$color-secundario: #e6a4ba;
$color-blanco: white;
$color-gris: #646464;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rubik', sans-serif;
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
}

//header estilos//
.navbar{
    background-color: $color-principal;
    
    .logo{
        cursor: pointer;
       

        img{
            height: 70px;
            width: auto;
            &:hover{
                transform: scale(1.1);
                transition: 0.5s;
            }
        }
    }

    .navbar-nav{
        a{
            font-size: 500;
            color: $color-blanco;
            &:hover{
                font-size: 700;
                color: $color-secundario;
                transition: 0.5s;
            }
        }
    }

    .btn button{
        font-weight: 700;
        color: $color-blanco;
        padding: 9px 25px;
        background: $color-secundario;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        
        &:hover{
            background-color: $color-blanco;
            color: $color-principal;
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

}

.zu-portrait{
    max-height: 500px;
}

//seguir//

    .social{
        
        a{
        font-size: 4rem;
        padding: 2rem;
        
            .bi-instagram{
                color: #C13584
            }
            .bi-facebook{
                    color:#3b5998;
            }
            .bi-behance{
                color: black;
            }
            .bi-linkedin{
                color:#0e76a8;
            } 
        }
    } 

//fotter//

footer{
    background-color: $color-gris;
    color: $color-blanco;

}

//portfolio//

.galeria{
    padding: 80px 0;

    img{
        max-width: 100%;
        background-color: whitesmoke;
        padding: 10px;
        width: 100%;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
        cursor: pointer;

        &:hover{
            transform: scale(1.5);
            transition: 0.8s;
        }
    }
}


